.sidebar {
    width: 150px;
}
.YoutubeWrapper{
    position: relative ;
    margin-top: 0em ;
    margin-bottom: 0em ;
    padding-top: 0px ;
    padding-bottom: 50% ;
    overflow: hidden ;
}
     
.YoutubeWrapper iframe {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
}
